.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}
#calculator {
  display: grid;
  grid-template-areas:
    "display display display display"
    "clear ac percentage divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero  decimal equals equals";
  background-color: black;
  width: 200px;
  padding: 10px;
}
button {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#display {
  grid-area: display;
}
#clear {
  grid-area: clear;
}
#ac {
  grid-area: ac;
}
#percentage {
  grid-area: percentage;
}
#divide {
  grid-area: divide;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#mutliply {
  grid-area: mutliply;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#subtract {
  grid-area: subtract;
}
#one {
  grid-area: one;
}
#three {
  grid-area: three;
}
#add {
  grid-area: add;
}
#zero {
  grid-area: zero;
}
#decimal {
  grid-area: decimal;
}
#equals {
  grid-area: equals;
}
